@import url(http://fonts.googleapis.com/css?family=Roboto);
* {
  font-family: 'Roboto', sans-serif;
}
.btn-primary {
  background-color: #2196f3 !important;
}
#login-modal .modal-dialog {
  width: 350px;
}
#login-modal input[type=text],
input[type=password] {
  margin-top: 10px;
}
.bg-dark {
  background-color: #3c3c3c;
}
.top-f-block {
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.top-f-block a {
  color: white;
}
.footer-block ul li a,
.bg-dark p {
  color: #9e9e9e;
}
.bg-dark a {
  color: white;
}
.footer-folow a {
  border-radius: 50%;
  color: #3c3c3c;
  display: inline-block;
  float: none;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin: 0 15px;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-out 0s;
  width: 32px;
}
.bg-facebook {
  background: #46639d none repeat scroll 0 0;
}
.bg-red-3 {
  background: #e22013 none repeat scroll 0 0;
}
.bg-blue-2 {
  background: #2d8bc1 none repeat scroll 0 0;
}
.bg-twitter {
  background: #02a8f4 none repeat scroll 0 0;
}
.footer-folow a:hover {
  background: transparent none repeat scroll 0 0;
  transform: scale(1.2);
}
.footer-folow .bg-blue-2:hover {
  color: #2d8bc1;
}
/* .footer-folow .bg-red-2:hover {
   
} */

.footer-folow .bg-twitter:hover {
  color: #02a8f4;
}
.footer-folow .bg-red-3:hover {
  color: #e22013;
}
.footer-folow .bg-facebook:hover {
  color: #46639d;
}
.titulosFood {
  color: white;
  font-weight: bold;
}
#div-login-msg,
#div-lost-msg,
#div-register-msg {
  border: 1px solid #dadfe1;
  height: 30px;
  line-height: 28px;
  transition: all ease-in-out 500ms;
}
/* #div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
} */

/*  #div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
   border: 1px solid #eb575b;
   background-color: #ffcad1;
} 
*/

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
  width: 30px;
  float: left;
  line-height: 28px;
  text-align: center;
  background-color: #dadfe1;
  margin-right: 5px;
  transition: all ease-in-out 500ms;
}
/* #icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}
 */

/* #icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
} */

#img_logo {
  max-height: 100px;
  max-width: 100px;
}
/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8;
}
.modal-content {
  background-color: #ececec;
  border: 1px solid #bdc3c7;
  border-radius: 0px;
  outline: 0;
}
.modal-header {
  min-height: 16.43px;
  padding: 15px 15px 15px 15px;
  border-bottom: 0px;
}
.modal-body {
  position: relative;
  padding: 5px 15px 5px 15px;
}
.modal-footer {
  padding: 15px 15px 15px 15px;
  text-align: left;
  border-top: 0px;
}
.checkbox {
  margin-bottom: 0px;
}
.btn {
  border-radius: 0px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.btn-lg,
.btn-group-lg > .btn {
  border-radius: 0px;
}
/* .btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
} */

/* .btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
} */

.glyphicon {
  top: 0px;
}
.form-control {
  border-radius: 0px;
}
* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}
#menu {
  margin-bottom: 0em !important;
  margin-top: 0em !important;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0em;
  display: none;
  background-color: #69b8f7;
}
#menu ul li a {
  background-color: white;
}
#aImagen {
  background-color: #69b8f7 !important;
}
#logo {
  max-height: 4em;
}
#ali li,
#alid li {
  padding-bottom: 1%;
  padding-top: 3em;
}
#ali li a,
#alid li a {
  text-align: center;
  padding: 0em;
  color: grey;
}
#ali,
#alid {
  height: 6em;
}
#ali li :hover,
#alid li :hover {
  border: solid 0.2em #2196f3;
  color: #2196f3;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
#ali li :focus,
#alid li :focus {
  color: #2196f3;
  border: solid 0.2em #2196f3;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
header {
  background-color: #69b8f7;
}
.navbar {
  background-color: white;
  margin-top: 1.5em;
}
.carousel-indicators {
  margin-top: 1em;
}
.carousel-indicators .active {
  background-color: #2196f3 !important;
}
.carousel-indicators li {
  border: 1px solid #2196f3 !important;
}
.carousel-control.left {
  background-image: linear-gradient(to right, #2196f3 0px, white 100%) !important;
}
.carousel-control.right {
  background-image: linear-gradient(to left, #2196f3 0px, white 100%) !important;
}
.social {
  position: relative;
  height: 3em;
  width: 13.5em;
  margin: 150px 450px;
}
.social li {
  display: block;
  height: 4em;
  line-height: 4em;
  margin: -2.2em;
  position: absolute;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  -ms-transition: -ms-transform 0.7s;
  -o-transition: -o-transform 0.7s;
  transition: transform .7s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  width: 4em;
}
/* .social a {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 6em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4em; 
  
}

.social li:hover {
  -webkit-transform: scale(1.3,1.3) rotate(45deg);
    -moz-transform: scale(1.3,1.3) rotate(45deg);
  -ms-transform: scale(1.3,1.3) rotate(45deg);
    -o-transform: scale(1.3,1.3) rotate(45deg);
  transform: scale(1.3,1.3) rotate(45deg);
} */

/* 
.facebook {
    background: #155b9d;
    left: 0;
    top: 0%;
}

.twitter {
    background: #1a9ec4;
    bottom: 0;
    left: 25%;
}
.facebook2 {
    background: #155b9d;
    left: 50%;
    top: 0%;
}

.twitter2 {
    background: #1a9ec4;
    bottom: 0;
    left: 25%;
}

.behance2 {
    background: #3f7aa3;
    top: 0%;
    left: 50%;
} */

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: white;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
#tituloIntroducion {
  font-size: 144%;
  font-weight: 100;
  text-align: center;
  margin-top: 2em;
}
#tituloIntroducion span {
  font-weight: bold;
}
.columnasTriple {
  margin-top: 6em;
  visibility: hidden;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease;
}
.columnasTriple article a h3,
.columnasTriple article a p {
  text-align: center;
}
.columnasTriple article a {
  text-decoration: none;
}
.columnasTriple article a p {
  color: black;
}
/* SERVICIOSSSSSS */

.timeline {
  position: relative;
  padding: 4px 0 0 0;
  margin-top: 22px;
  list-style: none;
}
.timeline > li:nth-child(even) {
  position: relative;
  margin-bottom: 50px;
  height: 180px;
  right: -100px;
}
.timeline > li:nth-child(odd) {
  position: relative;
  margin-bottom: 50px;
  height: 180px;
  left: -100px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
  min-height: 170px;
}
.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 50%;
  border: 7px solid #2196f3;
  border-radius: 100%;
  background-color: #2196f3;
  box-shadow: 0 0 5px #4582ec;
  width: 200px;
  height: 200px;
  margin-left: -100px;
}
.timeline > li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 30px 20px 20px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 22px;
  margin-bottom: 4px;
  padding: 0;
  color: #2196f3;
}
.timeline .timeline-heading h4.subheading {
  margin: 0;
  padding: 0;
  text-transform: none;
  font-size: 18px;
  color: black;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
  color: #9e9e9e;
}
/*Style for even div.line*/

.timeline > li:nth-child(odd) .line:before {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 690px;
  width: 4px;
  height: 340px;
  background-color: #2196f3;
  -ms-transform: rotate(-44deg);
  /* IE 9 */
  -webkit-transform: rotate(-44deg);
  /* Safari */
  transform: rotate(-44deg);
  box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/

.timeline > li:nth-child(even) .line:before {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 450px;
  width: 4px;
  height: 340px;
  background-color: #2196f3;
  -ms-transform: rotate(44deg);
  /* IE 9 */
  -webkit-transform: rotate(44deg);
  /* Safari */
  transform: rotate(44deg);
  box-shadow: 0 0 5px #4582ec;
}
/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline > li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */

@media (min-width: 768px) and (max-width: 991px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline > li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Custom, iPhone Retina */

@media only screen and (max-width: 767px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline > li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
  }
  .timeline > li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline > li:nth-child(odd) .timeline-image {
    float: right;
    left: 0px;
    margin-left: 0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
}
#ultimo {
  margin-bottom: 2em;
}
#primero {
  margin-top: 4em;
}
.imagenMarketing {
  height: 100% !important;
}
/*   CONTACTOOOOOOO */

.jumbotron {
  background: #69b8f7 !important;
  color: white;
  border-radius: 0px;
}
.jumbotron-sm {
  padding-top: 24px;
  padding-bottom: 24px;
}
.jumbotron small {
  color: white;
}
.h1 small {
  font-size: 24px;
}
#contactanosCentrar {
  text-align: center;
}
#mapa {
  border: 0;
  margin-left: 10%;
  width: 80%;
  height: 17em;
}
/*     FIN CONTACTO   */

/*       PERFIL            */

.user-row {
  margin-bottom: 14px;
}
.user-row:last-child {
  margin-bottom: 0;
}
.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}
.dropdown-user:hover {
  cursor: pointer;
}
.table-user-information > tbody > tr {
  border-top: 1px solid #dddddd;
}
.table-user-information > tbody > tr:first-child {
  border-top: 0;
}
.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad {
  margin-top: 20px;
}
.txtPerfil {
  width: 11em;
  margin-bottom: 0.5em;
}
.panel-info > div > .panel-heading {
  background-color: colorAzulFondoTituloPerfil;
  border-color: #bce8f1;
  color: #31708f;
}
.panel-info > div {
  padding-right: 0em;
  padding-left: 0em;
}
.panel-info > div:first-child {
  border-right: 0.2em solid;
  border-color: #bce8f1;
}
.panel-heading {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#imagenfondoPerfil {
  height: 8em;
  margin-bottom: 1em;
  margin-top: 3em;
  width: 100%;
}
#registroperfil {
  margin-bottom: 2em;
}
/* FIN PERFIL  */

/* MODAL */

#success {
  margin-top: 5em;
}
/* FIN MODAL */

/*  PRODUCTOS */

#producto0 {
  right: 0%;
  margin-top: 3em;
}
#producto5 {
  margin-bottom: 2em;
}
.productoss {
  right: 85%;
  margin-top: 4em;
  position: relative;
  margin-left: 2em;
}
#productos span {
  color: black;
  font-weight: bold;
}
/* .productosDerecha{
    right: 67%;
    margin-bottom: 2em;
    position: relative;
} */

/* FIN PRODUCTOS */

